@import 'include-media';
@import "normalize/import-now";
@import 'bootstrap-grid';
@import './colors';
@import './typography';

body{
    @include Poppins_Regular(18);
    color: $cinza_escuro;
}
/* TO HIDE IMAGES */
.hide{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
/* BUTTONS */
.button{
    position: relative;
    display: inline-block;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.25s all;
    border: 0;
    cursor: pointer;
    &.outline{
        color: $azul;
        border: 3px solid $azul;
        &:hover, &.active{
            background: $azul;
            color: white;
        }
        &.white{
            color: white;
            border-color: white;
            &:hover, &.active{
                color: #313131;
                background: white;
            }
        }
        &.black{
            color: $cinza_escuro;
            border-color: $cinza_escuro;
            &:hover, &.active{
                color: white;
                background: $cinza_escuro;
            }
        }
    }
    &.full{
        background: $azul;
        color: white;
        border: 3px solid $azul;
        &:hover, &.active{
            background: transparent;
            color: $azul;
            border-color: $azul;
        }
        &.white{
            background: white;
            border:3px solid white;
            color: $azul;
            &:hover, &.active{
                background: transparent;
                color: white;
            }
        }
    }
    &.block{
        width: 100%;
    }
}

/* / BUTTONS */
header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
    .topo{
        padding: 25px 0;
        .grid{
            display: flex;
            justify-content: space-between;
        }
        .menu-icon{
            text-decoration: none;
            color: $cinza_escuro;
            padding-top: 10px;
            width: 25%;
            svg{
                width: 30px;
                vertical-align: middle;
            }
        }
        .logo{
            display: inline-block;
            margin: 0 auto;
            width: 250px;
            padding-top: 10px;
            img{
                width: 100%;
            }
        }
        .login-box{
            width: 25%;
            .entrar{
                float: right;
                color: $azul;
                font-weight: 700;
                text-decoration: none;
                padding-top: 10px;
                margin-right: 10px;
                font-size: 16px;
            }
            .perfil-foto{
                float: right;
                background: white;
                padding: 10px 13px;
                border-radius: 50px;
                box-shadow: rgba(0, 0, 0, 0.1) 0 10px 20px;
                transition: 0.25s all;
                vertical-align: middle;
                cursor: pointer;
                svg{
                    width: 15px;
                    path, ellipse{
                        transition: 0.25s all;
                    }
                }
                &:hover{
                    background: $azul;
                    box-shadow: rgba(0, 0, 0, 0.1) 0 0px 0px;
                    transform: translateY(5px);
                    svg{
                        path, ellipse{
                            fill:white;
                        }
                    }
                }
            }
            .cadastrar{
                float: right;
                color: $cinza;
                font-size: 16px;
                font-weight: 300;
                text-decoration: none;
                padding-top: 10px;
                margin-left: 10px;
            }
        }
    }
    .menu{
        background: $azul;
        width: 40vw;
        min-height: 100vh;
        position: absolute;
        z-index: 9999;
        top: 0;
        left: -100%;
        padding-top: 75px;
        padding-bottom: 75px;
        padding-left: 5%;
        padding-right: 5%;
        color: $azul_escuro;
        transition: 0.5s all;
        &.active{
            left: 0;
        }
        .close{
            display: block;
            width: 22px;
            svg{
                width: 100%;
                transition: 0.5s all;
                path{
                    transition: 0.25s all;
                }
            }
            &:hover{
                svg{
                    transform: rotate(90deg);
                    path{
                        fill: white;
                    }
                }
            }
        }
        .titulo{
            position: relative;
            font-weight: 700;
            color: $azul_escuro;
            padding-bottom: 15px;
            margin-top: 45px;
            margin-bottom: 30px;
            width: 100%;
            text-align: left;
            &:after{
                content: '';
                width: 15%;
                height: 1px;
                background-color: $azul_escuro;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        ul.menu-itens{
            list-style: none;
            margin: 0;
            padding: 0;
            margin-bottom: 65px;
            li{
                padding: 10px 0;
                a{
                    color: $azul_escuro;
                    text-decoration: none;
                    font-size: 32px;
                    transition: 0.25s all;
                    &:hover, &.active{
                        color: white;
                    }
                }
            }
        }
        ul.social{
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                float: left;
                margin-right: 30px;
                a{
                    svg{
                        height: 22px;
                    }
                }
            }
        }
    }
}
.barra-frete-gratis{
    position: relative;
    background: $azul;
    color: white;
    padding: 15px 0;
    .texto{
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 16px;
    }
    .whatsapp{
        position: absolute;
        right: 0;
        top: 0;
        width: 33%;
        text-align: right;
        font-size: 16px;
        a{
            font-weight: 700;
            text-decoration: none;
            color: white;
            
            img{
                vertical-align: middle;
                width: 20px;
            }
        }
    }
}
.slider-home{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.faixa-banners{
    position: relative;
    .absolute{
        z-index: 9;
        width: 100%;
        position: absolute;
        top: -90px;
    }
    .banner{
        display: block;
        width: 100%;
        height: 160px;
        border-radius: 10px;
        background-position: center top;
        background-size: cover;
        padding: 30px;
        text-decoration: none;
        transition: 0.25s all;
        .titulo{
            font-weight: 700;
            margin-bottom: 10px;
        }
        .texto{
            color: white;
        }
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.1) 0 40px 80px;
        }
        &.personalizavel{
            background-image: url('../images/bg_box_personalize.png');
            .titulo{
                color: white;
            }
        }
        &.colecoes{
            background-image: url('../images/bg_box_todosmodelos.png');
            padding-right: 100px;
            .titulo{
                color: $azul;
            }
            .texto{
                color: $cinza_escuro;
            }
        }
        &.revendedor{
            background-image: url('../images/bg_box_revendedor.png');
            .titulo, .texto{
                color: white;
            }
        }
    }
}
.lista{
    background: $cinza_mais_claro;
    padding-top: 150px;
    padding-bottom: 60px;
    .titulo{
        h2{
            font-weight: 500;
            font-size: 42px;
            color: $cinza_claro;
            text-align: center;
        }
        p{
            text-align: center;
        }
        margin-bottom: 50px;
    }
    ul.categorias{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
        li{
            a{
                display: block;
                width: 100%;
                height: 100%;
                padding: 20px;
                border-radius: 10px;
                text-decoration: none;
                text-align: center;
                color: $cinza_escuro;
                font-weight: 400;
                transition: 0.5s all;
                svg{
                    margin-bottom: 15px;
                }
                &:hover, &.active{
                    background: white;
                    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 27px;
                    transform: scale(1.1);
                    color: $azul;
                    z-index: 99;
                    svg{
                        path{
                            fill:$azul;
                        }
                    }
                }
            }
        }
    }
    .produto-destaque{
        position: relative;
        display: block;
        width: 100%;
        height: 370px;
        border-radius: 10px;
        overflow: hidden;
        span{
            position: absolute;
            z-index: 2;
            bottom: 35px;
            right: 35px;
            color: white;
            font-size: 16px;
        }
        &:after{
            content: '';
            width: 100%;
            height: 25%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.7) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.7) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.7) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
        }
    }
    .box-produto{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: 0.25s all;
        padding: 20px;
        color: $cinza_escuro;
        margin-top: 30px;
        .wishlist-heart{
            position: absolute;
            z-index: 1;
            top: 15px;
            right: 15px;
            width: 20px;
            transition: 0.25s all;
            &:hover{
                transform: scale(1.1);
            }
            &.active{
                svg{
                    path{
                        fill: $azul;
                    }
                }
            }
        }
        &:hover{
            background: white;
            box-shadow: rgba(0, 0, 0, 0.09) 0 9px 16px;
        }
        img{
            width: 100%;
            margin-bottom: 40px;
        }
        .nome{
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        .preco{
            position: absolute;
            bottom: 20px;
            right: 20px;
            color: $azul;
        }
    }
    .veja-mais{
        margin-top: 45px;
        a{
            display: table;
            margin: 0 auto;
        }
    }
}
.cores-pulseiras{
    position: relative;
    background: #82DCEC;
    padding-top: 50px;
    transition: 1s all;
    &:after{
        content:'';
        position: absolute;
        width: 100%;
        height: 15px;
        background-image: url('../images/faixa_colorida.png');
        background-position: center top;
        background-size: cover;
        bottom: 0;
        left: 0;
    }
    .cores-pulseiras-slider{
        margin-bottom: 45px;
        .owl-nav{
            .owl-next, .owl-prev{
                font-size: 58px;
                line-height: 30px;
                color: white;
            }
        }
    }
    h3{
        color: white;
        font-weight: 500;
        font-size: 42px;
        text-align: left;
        margin: 0;
        margin-top: 50px;
        padding: 0;
    }
    p{
        color: white;
    }
    .outline{
        color: white;
        border-color: white;
        margin-top: 30px;
        &:hover{
            color: $cinza_escuro;
            background: white;
        }
    }
}
.depoimentos{
    background-color: $cinza_mais_claro;
    padding-top: 90px;
    padding-bottom: 90px;
    .depoimentos-slider{
        .item{
            width: 100%;
            img{
                display: inline-block;
            }
            p{
                display: inline-block;
            }
            strong{
                display: inline-block;
                font-weight: 700;
                color: $azul;
            }
        }
        .owl-nav{
            .owl-next, .owl-prev{
                position: absolute;
                top: calc(50% - 7px);
            }
            .owl-next{
                right: -30px;
            }
            .owl-prev{
                left: -30px;
            }
        }
    }
}
.newsletter{
    padding-top: 50px;
    padding-bottom: 50px;
    h4{
        font-size: 32px;
        color: $cinza_escuro;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    p{
        font-size: 18px;
        color: $azul;
        margin: 0;
        padding: 0;
    }
    form{
        input{
            width: 100%;
            @include Poppins_Regular(18);
            color: $azul;
            border: 0;
            border-radius: 10px;
            padding: 16px;
            box-shadow: rgba(0, 0, 0, 0.07) 0 10px 20px;

        }
        button{
            @include Poppins_Regular(16);
            border: 2px solid $cinza_escuro;
            background: $cinza_escuro;
            color: white;
            font-weight: 500;
            border-radius: 10px;
            padding: 15px 40px;
            cursor: pointer;
            transition: 0.25s all;
            &:hover{
                background: $azul;
                border-color: $azul;
            }
        }
    }
}
footer{
    background-color: $cinza_escuro;
    color: white;
    font-size: 16px;
    padding-top: 75px;
    padding-bottom: 75px;
    .logo{
        width: 100%;
        margin-bottom: 15px;
    }
    ul.social{
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        margin-top: 35px;
        padding: 0;
        li{
            a{
                img{
                    height: 20px;
                }
            }
        }
    }
    ul.pages{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            padding-bottom: 15px;
            a{
                color: white;
                text-decoration: none;
                transition: 0.25s all;
                &:hover{
                    color: $azul;
                }
            }
        }
    }
    h5{
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        font-size: 18px;
    }
    p{
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
    }
    ul.contato{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 25px;
            a{
                text-decoration: none;
                color: white;
                line-height: 30px;
                img{
                    width: 20px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }
    }
}
.assinatura{
    display: block;
    width: 100%;
    color: white;
    background-color: $azul;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* PRODUTO */
.fixed-bar{
    position: fixed;
    z-index: 999;
    bottom: -100%;
    width: 100%;
    background: $azul;
    padding-top: 35px;
    padding-bottom: 35px;
    color: white;
    transition: 0.5s all;
    &.active{
        bottom: 0;
    }
    .titulo{
        font-size: 12px;
    }
    .escolha{
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
    }
}
.produto-imagem{
    position: relative;
    display: block;
    width: 370px;
    height: 370px;
    .pulseira, .box, .marcador{
        background-size: cover;
        background-repeat: no-repeat;
        width: 370px;
        height: 370px;
        position: absolute;
        transition: 0.5s all;
    }
    .pulseira{
        z-index: 3;
    }
    .box{
        z-index: 1;
    }
    .marcador{
        display: none;
        z-index: 2;
    }
}
.produto-info{
    background-color: $cinza_mais_claro;
    padding-top: 45px;
    padding-bottom: 45px;
    h3{
        font-size: 16px;
        color: $cinza_escuro;
        margin: 0;
        padding: 0;
        font-weight: normal;
        text-align: right;
    }
    h1{
        font-size: 42px;
        color: $azul;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        text-align: right;
    }
    p{
        text-align: right;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    .valor{
        text-align: right;
    }
    h2{
        font-weight: 700;
        font-size: 42px;
        text-align: right;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        color: $azul;
    }


    .cores-pulseira{
        position: relative;
        .titulo{
            span{
                font-weight: 700;
                color: $azul;
            }
        }
        ul.cores{
            display: flex;
            width: 100%;
            list-style: none;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 0;
            justify-items: center;
            justify-content: left;
            li{
                flex: 1;
                a{
                    width: 100%;
                    min-height: 45px;
                    display: block;
                    transition: 0.25s all;
                    &:hover, &.active{
                        transform: scale(1.15);
                    }
                }
            }
        }
        .container-somente-box{
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 25px;
            cursor: pointer;
            font-size: 18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input{
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked ~ .checkmark:after {
                    display: block;
                }
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: white;
                border: 1px solid $cinza_escuro;
                transition: 0.25s all;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                &:after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            &:hover input ~ .checkmark {
                background-color: #ccc;
            }
            input:checked ~ .checkmark {
                background-color: #2196F3;
                border: 1px solid white;
            }
        }
    }
    hr{
        height: 3px;
        background: #F2F2F2;
        border: 0;
    }
    .button{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .label{
        display: inline-block;
        margin-bottom: 10px;
        &.small{
            font-size: 14px;
        }
    }
    .wishlist-heart{
        display: inline-block;
        margin-top: 15px;
        svg{
            width: 25px;
            vertical-align: middle;
            path{
                transition: 0.25s all;
            }
        }
        &:hover, &.active{
            svg{
                path{
                    fill: $azul;
                }
            }
        }
    }
    .input-box{
        display: inline;
        .options-list{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: inline;
                input{
                    opacity: 0;
                    &:checked ~ .label label{
                        color: white;
                        background: $azul;
                    }
                }
                .label{
                    label{
                        cursor: pointer;
                        text-align: center;
                        display: block;
                        font-size: 18px;
                        color: $azul;
                        border: 3px solid $azul;
                        border-radius: 50px;
                        padding-top: 15px;
                        width: 55px;
                        height: 55px;
                        transition: 0.25s all;
                        &:hover{
                            color: white;
                            background: $azul;
                        }
                    }
                }
            }
        }
    }
}
.produtos-relacionados{
    padding-top: 70px;
    padding-bottom: 70px;
}
.entenda-o-tamanho{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $cinza_claro;
    background-position: right 150px;
    background-repeat: no-repeat;
    transition: 0.25s all;
    &.tamanho-g{
        background-image: url('../images/bg_tamanho_grande.png');
    }
    &.tamanho-p{
        background-image: url('../images/bg_tamanho_pequeno.png');
    }
    h2{
        font-size: 42px;
        font-weight: 700;
        color: $azul;
        margin: 0;
        margin-bottom: 45px;
        padding: 0;
    }
    p{
        color: #4D4D4D;
        margin-bottom: 45px;
    }
    a{
        float: left;
        font-weight: normal;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 10px;
    }
}
.mais-info{
    padding-top: 75px;
    padding-bottom: 75px;
    background: $azul;
    color: white;
    .produto-imagem{
        width: 250px;
        height: 250px;
        margin: 0 auto;
        .marcador, .pulseira, .box{
            width: 250px;
            height: 250px;
        }
    }
    p{
        font-weight: 300;
    }
}

/* CARRINHO */
.carrinho{
    background: $cinza_mais_claro;
    .right-side, .left-side{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .left-side{
        padding-left: 15%;

        .item{
            margin-bottom: 25px;
            .quantidade-titulo{
                font-size: 18px;
                font-weight: 700;
                color: $cinza_escuro;
                margin-bottom: 15px;
            }
            .quantidade-input{
                @include Poppins_Bold(42);
                width: 70px;
                border: 0;
                float: left;
                margin-right: 10px;
                padding: 6px 0;
                text-align: right;
                background: transparent;
            }
            .change-qtd-box{
                float: left;
                width: 30px;
                .change-qtd{
                    background: white;
                    border: 1px solid $cinza;
                    font-size: 25px;
                    text-align: center;
                    width: 28px;
                    height: 28px;
                    line-height: 0;
                    cursor: pointer;
                    transition: 0.25s all;
                    display: block;
                    margin-bottom: 5px;
                    &:hover{
                        background: $cinza_escuro;
                        color: white;
                    }
                }
            }
            .remover{
                font-size: 14px;
                text-decoration: none;
                display: inline-block;
                color: $cinza_escuro;
                margin-top: 15px;
                padding: 10px 20px;
                border-radius: 10px;
                svg{
                    vertical-align: middle;
                    margin-left: 7px;
                    path{
                        transition: 0.25s all;
                    }
                }
                &:hover{
                    background: $cinza_escuro;
                    color: white;
                    svg{
                        path{
                            fill:white;
                        }
                    }
                }
            }
            .imagem-produto{
                max-width: 170px;
            }

            .titulo{
                font-size: 18px;
                margin-bottom: 7px;
            }
            .nome{
                font-weight: 700;
                color: $azul;
                margin-bottom: 10px;
            }
            .valor-final{
                font-size: 32px;
            }
        }
    }
    .right-side{
        padding-right: 15%;
        padding: 5%;
        background: $cinza_escuro;
        color: white;
    }
    .modulo{
        display: block;
        width: 100%;
        margin-bottom: 50px;
        .titulo{
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
        }
        input{
            @include Poppins_Regular(18);
            color: $cinza_escuro;
            border:1px solid white;
            background: transparent;
            border-radius: 10px;
        }
        &.total-compra{
            .total{
                width: 100%;
                display: block;
                margin-bottom: 30px;
                text-align: right;
                span{
                    font-size: 42px;
                    font-weight: 500;
                }
            }
        }
    }
    
}