@import 'owl.carousel';
@import 'owl.theme.default';

.owl-theme{
    .owl-dots{
        position: absolute;
        width: 100%;
        bottom: 115px;
        left: 0;
    }
    .owl-nav{
        .owl-next, .owl-prev{
            position: absolute;
            top: 50%;
            svg{
                width: 9px;
            }
            &:hover{
                background: none;
                svg{
                    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 10px 15px );
                }
            }
        }
        .owl-next{
            right: 15px
        }
        .owl-prev{
            left: 15px;
        }
    }
}