@mixin Poppins_Light($font-size){
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: $font-size+px;
}
@mixin Poppins_Regular($font-size){
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: $font-size+px;
}
@mixin Poppins_Bold($font-size){
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: $font-size+px;
}